@import './colors';

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: $light-background;

  width: 100%;
  min-height: 100vh;
  height: 100%;
}
